:root {
  --circle-size: 255px;
  --ladies-image-size: 32.8%;
  --max-height-photo: 69.225vh;
}
.dress__circles {
  margin-top: var(--main-little-margin);
  display: flex;
  justify-content: center;
  gap: 5%;
}
.dress__circle {
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 100%;
}
.dress__circle.main-bg-color {
  background: #d4fcff;
}
.dress__circle.bg-white {
  border: 1px solid black;
}
.dress__circle.bg-cream {
  background: #f5e4d4;
}
.dress__circle.bg-black {
  background: black;
}
.dress__collage {
  width: 95%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 25px;
  display: flex;
  justify-content: space-between;
  max-height: var(--max-height-photo);
}
.dress__collage-little {
  width: calc(55% - 11px);
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}
.dress__collage-little img {
  width: calc(45% - 11px);
  object-fit: cover;
  height: calc(50% - 11px);
}
.dress__collage-little img:nth-child(2n + 1) {
  width: calc(55% - 11px);
}
.dress__collage-big {
  width: calc(45% - 11px);
}
.dress__collage-big img {
  object-fit: cover;
  width: 100%;
  height: var(--max-height-photo);
}

.dress-ladies-image {
  height: 700px;
  width: 32.8%;
  object-fit: cover;
}
.check-block {
  width: var(--ladies-image-size);
}
.check {
  display: block;
  margin: 0 auto;
}
.desctop-none {
  display: none !important;
}
@media (min-width: 1920px) {
  :root {
    --max-height-photo: 70vh;
  }
}
@media (max-width: 1240px) {
  .dress-ladies-image {
    height: 500px;
  }
}
@media (max-width: 1024px) {
  :root {
    --max-height-photo: unset;
  }
  .dress__collage-little,
  .dress__collage-big {
    width: 100%;
  }
  .dress__collage {
    flex-wrap: wrap;
    gap: 22px;
  }
  :root {
    --circle-size: 150px;
  }
  .dress-ladies-image {
    height: 350px;
  }
}
@media (max-width: 768px) {
  :root {
    --circle-size: 80px;
  }
}
@media (max-width: 768px) {
  .check-block img {
    width: 16px;
    height: 16px;
  }
  .dress-ladies-image {
    height: 200px;
  }
  .mobile-none {
    display: none !important;
  }
  .desctop-none {
    display: block !important;
  }
  .dress-ladies-image {
    width: 47.5%;
    margin-top: 14px;
  }
  .dress-ladies-image-big {
    width: 100%;
    height: 340px;
  }
}
