header {
  min-height: 100dvh;
  position: relative;
}
.header-absolute-block {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.main-title {
  position: relative;
  margin-top: 36px;
  margin-bottom: 0;
  color: #fff;
  font-size: 163px;
  line-height: 1;
  font-style: italic;
  font-weight: 400;
  text-transform: uppercase;
}
.main-title-icon {
  position: absolute;
  top: -7px;
  left: 52%;
  transform: translateX(-50%);
}
@media (max-width: 1024px) {
  .header-image-text {
    width: 100%;
  }
  .main-title {
    font-size: 125px;
  }
}
@media (max-width: 768px) {
  h1.main-title {
    font-size: 65.069px;
  }
  .main-title-icon {
    position: absolute;
    top: -20px;
    left: 52%;
    transform: translateX(-50%);
  }
  .header-absolute-block {
    bottom: 10%;
  }
}
