.hello {
  margin-top: 308px;
}
.hello-left {
  width: 39%;
}
.hello-right {
  width: 37%;
}
.hello-right {
  margin-top: 200px;
}
.hello-we {
  margin-top: 100px;
  width: 514px;
}
.hello-friends {
  width: 323px;
}
.hello-july {
  width: 271.997px;
  height: 223.952px;
}
.hello-artur {
  width: 273px;
  height: 134px;
  transform: translateX(-50%);
}
.hello-descr {
  margin-top: 32%;
  margin-left: 45px;
}
.hello-we2 {
  margin-top: 84px;
  width: 305px;
  margin-left: 36px;
}
