:root {
  --program-block-margin-size: 120px;
  --margin-top-blocks-program: 70px;
}
.title.program-day-title {
  color: var(--descr-color);
}
.program-blocks {
  margin: 0 auto;
  margin-top: var(--margin-top-blocks-program);
  max-width: 1063px;
}
.program-day-descr-title {
  max-width: 732px;
  margin: 0 auto;
  margin-top: var(--margin-top-blocks-program);
}
.program-block {
  display: flex;
  align-items: center;
}
.program-heart {
  margin: 0 170px 0 120px;
  position: relative;
}
.program-heart img {
  filter: invert(82%) sepia(8%) saturate(387%) hue-rotate(131deg)
    brightness(94%) contrast(86%);
  width: 30px;
  height: 30px;
}
.program-block:nth-child(n + 2) {
  margin-top: var(--program-block-margin-size);
}
.program-block:nth-child(n + 2) .program-heart::before {
  content: "";
  height: var(--program-block-margin-size);
  width: 1px;
  display: block;
  background: var(--descr-color);
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -100%);
  opacity: 0;
  transition: 1.5s all;
}
.aos-animate.program-block:nth-child(n + 2) .program-heart::before {
  opacity: 1;
}
.program-day .descr {
  margin-top: 24px;
}
@media (max-width: 1240px) {
  .program-heart {
    margin: 0 120px 0 90px;
  }
  :root {
    --program-block-margin-size: 85px;
    --margin-top-blocks-program: 50px;
  }
  .program-blocks {
    max-width: 755px;
  }
}
@media (max-width: 768px) {
  .program-heart {
    margin: 0 25px;
  }
  .program-heart img {
    width: 10px;
    height: 10px;
  }
  .program-day .descr {
    margin-top: 13px;
  }
  :root {
    --program-block-margin-size: 70px;
    --margin-top-blocks-program: 50px;
  }
  .program-blocks {
    max-width: 310px;
    margin: 80px auto 0;
  }
  .program-day-title.title.text-center {
    width: 50%;
    text-align: left !important;
    margin-left: 2.5%;
  }
  .descr-title.text-center {
    margin-top: 22px !important;
    text-align: right !important;
    margin-right: 2.5%;
  }
  .descr.text-center.program-day-descr-title {
    margin-top: 22px;
    text-align: left !important;
    margin-left: 2.5%;
  }
  .program-block {
    align-items: flex-start;
  }
  .program-block.aos-init.aos-animate {
    margin-top: 5px;
  }
  .program-block-text {
    height: 170px;
  }
  .program-block:nth-child(n + 2) .program-heart::before {
    height: 135px;
  }
}
