:root {
  --main-little-margin: 108px;
  --little-margin: 74px;
  --main-color: #313535;
  --section-interval: 200px;
  --title-size: 89px;
  --descr-size: 20px;
  --descr-title-size: 30px;
  --descr-color: #313535;
}
* {
  font-family: Kazimir;
  line-height: 1;
}
.my-container {
  max-width: 1662px;
  width: 95%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Kazimir";
}
.descr-color {
  color: var(--descr-color) !important;
}
.descr-title {
  font-size: var(--descr-title-size);
  font-weight: 500;
}
.title {
  color: var(--main-color);
  font-size: var(--title-size);
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  line-height: 1;
}
.descr,
.descr-kazimir {
  font-size: var(--descr-size);
  font-family: "PT Mono";
}
.descr-kazimir {
  font-family: "Kazimir";
}
.section-mt {
  margin-top: var(--section-interval);
}
.little-mt {
  margin-top: var(--little-margin);
}
.my-container.big-container {
  max-width: 95dvw;
}
.blue-heart {
  filter: invert(25%) sepia(6%) saturate(5196%) hue-rotate(118deg)
    brightness(99%) contrast(84%) !important;
}
body.hidden {
  overflow: hidden;
}

@media (max-width: 1240px) {
  :root {
    --main-little-margin: 82px;
    --little-margin: 54px;
    --section-interval: 150px;
    --title-size: 72px;
    --descr-size: 16px;
    --descr-title-size: 24px;
  }
}
@media (max-width: 1024px) {
  :root {
    --main-little-margin: 72px;
    --little-margin: 50px;
    --section-interval: 124px;
    --title-size: 65px;
    --descr-size: 16px;
    --descr-title-size: 22px;
  }
}
@media (max-width: 768px) {
  :root {
    --title-size: 27px;

    --descr-size: 16px;
    --descr-title-size: 20px;
    --section-interval: 60px;
    --main-little-margin: 24px;
  }
  .my-container.big-container {
    max-width: 90dvw;
  }
}
.fadein {
  opacity: 0;
}
.default-link {
  color: #1c1d19;
  font-family: PT Mono;
  text-decoration: unset;
}
a:hover {
  color: #01d4c8 !important;
}
