:root {
  --timer-size: 166px;
  --margin-timer-block: 24px;
}
.timer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 90%);
}
.timer__items {
  display: flex;
  font-size: 48px;
  gap: calc(var(--margin-timer-block) * 2);
  width: fit-content;
  margin: 0 auto;
  border-radius: 39px;
  background: #fff;
  padding: 35px 22px;
}
.timer__item {
  position: relative;
  min-width: 60px;
  /* margin-left: var(--margin-timer-block);
  margin-right: var(--margin-timer-block); */
  padding-bottom: 15px;
  text-align: center;
  border-radius: 30px;
  background: #bdeeeb;
  width: var(--timer-size);
  height: var(--timer-size);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  font-style: italic;
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  font-size: 24px;
  margin-top: 10px;
}

/* .timer__item:not(:last-child)::after {
  content: ":";
  position: absolute;
  right: calc(-1 * var(--margin-timer-block));
  transform: translateX(50%);
} */
@media (max-width: 1240px) {
  .timer__items {
    font-size: 30px;
  }
  :root {
    --timer-size: 130px;
  }
}
@media (max-width: 768px) {
  .timer {
    width: 100%;
    left: 0;
    transform: translateY(75%);
  }
  .timer__items {
    width: 100%;
    gap: 2%;
  }
  :root {
    --timer-size: 25%;
  }
  .timer__item {
    font-size: 19.162px;
    max-width: unset;
    border-radius: 11.976px;
  }
  .timer__item::before {
    font-size: 12.711px;
  }
  .timer__item {
    position: relative;
    min-width: 60px;
    padding-bottom: 0px;
  }
}
